.git/
.cache
tmp/*
models/*
python_env/
venv/
env/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
node_modules/
.git/
ebook2audiobook.egg-info/
dockerfiles/
Notebooks/
audiobooks/cli/*
audiobooks/gui/gradio/*
audiobooks/gui/host/*
tools/dev