**/__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.git
.cache
python_env
venv
env
node_modules
ebook2audiobook.egg-info
dockerfiles
Notebooks
assets
legacy
audiobooks/cli/*
audiobooks/gui/gradio/*
audiobooks/gui/host/*
models/*
tools/dev
tmp/*
run/*