services:
  ebook2audiobook:
    image: athomasson2/ebook2audiobook:${DEVICE_TAG:-cpu}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_VERSION: ${APP_VERSION:-26.2.1}
        DEVICE_TAG: ${DEVICE_TAG:-cu128}
    working_dir: /app
    entrypoint: ["python", "app.py", "--script_mode", "full_docker"]
    tty: true
    stdin_open: true
    ports:
      - "7860:7860"
    volumes:
      - .:/app:rw
    restart: unless-stopped
    profiles: [cpu]

  ebook2audiobook-gpu:
    image: athomasson2/ebook2audiobook:${DEVICE_TAG:-cu128}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_VERSION: ${APP_VERSION:-26.2.1}
        DEVICE_TAG: ${DEVICE_TAG:-cu128}
    working_dir: /app
    entrypoint: ["python", "app.py", "--script_mode", "full_docker"]
    tty: true
    stdin_open: true
    ports:
      - "7860:7860"
    volumes:
      - .:/app:rw
    restart: unless-stopped
    profiles: [gpu]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]