regex
tqdm
cutlet
deep_translator
docker
ebooklib
fastapi
num2words
argostranslate
beautifulsoup4
fugashi
sudachipy
sudachidict_core
ray
unidic
pymupdf4llm
translate
hangul-romanize
indic-nlp-library
iso639-lang
jieba
pycantonese
soynlp
pypinyin
pythainlp
mutagen
PyOpenGL
nvidia-ml-py
phonemizer-fork
pydub
pyannote-audio==3.4.0
demucs==4.0.1
gradio>=5.49
transformers==4.51.3
coqui-tts[languages]==0.26.0
torch>=2.8.0,<2.9
torchaudio>=2.8.0,<2.9
torchvggish